<h1>収入一覧</h1>
<div class="index">
<% @incomes.each do |income| %>
  <div class="list">
    <%= income.date %>
    <%= income.amounts %>円
    <%= income.income_item.title %>
  </div>
<% end %>
</div>

<%= link_to 'トップページに戻る', top_index_path %>
